html, body {
    margin: 0%;
    background-color: #ced4ce;
    color: white;
}

.title {
    text-align: center;
    background-color: black;
    color: white;
    padding: 10px;
    font-size: 25px;
}

.player {
margin-top: 20px;
}

.machine {
    margin-top: 30px;
    }

.cards {
    position: relative;
    width: 110px;
    left: 100px;
    margin-left: -70px;
}

#playerCards, #machineCards {
    height: 200px;
}